In [10]:
import pandas as pd
import numpy as np

In [20]:
df=pd.DataFrame({
                'col_one':['1.1', '2.2', '3.3'],
                'col_two':['4.4', '5.5', '6.6'],
                'col_three':['7.7', '8.8', '-']
                })

In [21]:
df

  col_one col_two col_three
0     1.1     4.4       7.7
1     2.2     5.5       8.8
2     3.3     6.6         -

In [22]:
df.dtypes

col_one      object
col_two      object
col_three    object
dtype: object

In [23]:
# df.astype({'col_one':float, 'col_two':float}).dtypes

In [24]:
# convert any invalid inputs to NAN values
# pd.to_numeric(df.col_three, errors='coerce').fillna(0)

In [25]:
df=df.apply(pd.to_numeric, errors='coerce').fillna(0)

In [26]:
df

   col_one  col_two  col_three
0      1.1      4.4        7.7
1      2.2      5.5        8.8
2      3.3      6.6        0.0

In [27]:
df.dtypes

col_one      float64
col_two      float64
col_three    float64
dtype: object