In [1]:
import pandas as pd
import numpy as np

In [2]:
drinks=pd.read_csv("drinks.csv")

In [3]:
drinks.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     193 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 30.5 KB

In [6]:
# to reduce the soze first method is to only read in the columns which you actually need
cols=['beer_servings', 'continent']
small_drinks=pd.read_csv('drinks.csv', usecols=cols)
small_drinks.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   beer_servings  193 non-null    int64
 1   continent      193 non-null    object
dtypes: int64(1), object(1)
memory usage: 13.7 KB

In [5]:
small_drinks

     beer_servings      continent
0                0           Asia
1               89         Europe
2               25         Africa
3              245         Europe
4              217         Africa
..             ...            ...
188            333  South America
189            111           Asia
190              6           Asia
191             32         Africa
192             64         Africa

[193 rows x 2 columns]

In [8]:
# 2nd method is to convert any object type columns to the categorical type
dtypes={'continent':'category'}
smaller_drinks=pd.read_csv('drinks.csv', usecols=cols, dtype=dtypes)
smaller_drinks.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   beer_servings  193 non-null    int64
 1   continent      193 non-null    category
dtypes: category(1), int64(1)
memory usage: 2.4 KB

In [9]:
smaller_drinks

     beer_servings      continent
0                0           Asia
1               89         Europe
2               25         Africa
3              245         Europe
4              217         Africa
..             ...            ...
188            333  South America
189            111           Asia
190              6           Asia
191             32         Africa
192             64         Africa

[193 rows x 2 columns]

In [ ]:
# the category data type should be used when you have small no of datatypes relative to the no of rows